<% if user_signed_in? %>
  <% if current_user.manageService == false %>
    <script type="text/javascript">
      window.location.href="/"
    </script>
  <% end %>
<% else %>
  <script type="text/javascript">
    window.location.href="/"
  </script>
<% end %>

<br><br><br>
<div class = "container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h2> Editar Servicio </h2>
          </div>

          <%= render 'form', service: @service %>

          <br>
          <%= link_to 'Atras', services_path ,:class => 'btn btn-warning active'%>
        </div>
      </div>
    </div>
  </div>
</div>
  
