<% if user_signed_in? %>
  <% if current_user.manageRadio == false %>
    <script type="text/javascript">
      window.location.href="/"
    </script>
  <% end %>
<% else %>
  <script type="text/javascript">
    window.location.href="/"
  </script>
<% end %>

<div class="row">
<div class="col-sm-8">
    <div class="well well-lg">
        <h1> Crear un nuevo programa</h1>
    </div>
</div>
</div>

<%= render 'form', radiosecrad: @radiosecrad %>

<br>
<div class="row">
<div class="col-sm-4">
<%= link_to 'Atras', radiosecrads_path, :class=>"btn btn-warning"%>
</div>
</div>
