<% if user_signed_in? %>
  <% if current_user.manageAboutsecrad == false %>
    <script type="text/javascript">
      window.location.href="/"
    </script>
  <% end %>
<% else %>
  <script type="text/javascript">
    window.location.href="/"
  </script>
<% end %>
<div class="container">
<div class="row">
<div class="col-sm-8 text-center">
    <div class="well well-lg">
        <h1>
          Editar 
        </h1>
    </div>
</div>
</div>

<%= render 'form', aboutsecrad: @aboutsecrad %>

<div class="row">
<div class="col-sm-4">
    
    <br>
      <%= link_to 'Atras', aboutsecrads_path ,:class => 'btn btn-warning active'%>
    
</div>
</div>
</div>

