<p id="notice"><%= notice %></p>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>


<body>
  <div class="titulo">
    <img class="logo" src="/assets/logo.png" width="80" height="35" class="d-inline-block align-top" alt="">
    <h1>RADIO UCB</h1>
  </div>
  <section class="reproduccion">
    <h4>escucha en vivo</h4>
    <audio autoplay controls="" preload="none" src="http://stream.codigosur.org:8000/RadioComunitariaUCB.mp3"></audio>
  </section>
  <section class="comentariosradio">
    <h4>Deja tu Comentario:</h4>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.11&appId=721451538053276';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


  <div class="fb-comments" data-href="http://localhost:3000/listen_page" data-numposts="5"></div>
  </section>

<!--
  <h4>Comentarios</h4>

  <div class="container">
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.11&appId=296383834205666';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

      <div class="fb-comments" data-href="http://localhost:3000/listen_page" data-numposts="5"></div>
  </div> -->
</body>


    <style media="screen">

      body{
        width: 100%;
        position: absolute;

        overflow-y: scroll;
	         overflow-x: hidden;
        
      }



      .titulo{
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: black;
        text-align: center;
        position: relative;

      }
      .logo{
        margin: 10px 5px;
        float: left;
      }

      .navbar{
        margin: 0;
        padding: 0;
        visibility: hidden;
        position: absolute;
      }

      .reproduccion{

        width: 100%;
        margin: 50px 120px;
      }

      .comentariosradio{
        margin: 20px;

      }
      h1{
        margin: 10px;
        color: white;
        position: relative;
      }

    </style>
