<% if user_signed_in? %>
  <% if current_user.manageAlbum == false %>
    <script type="text/javascript">
      window.location.href="/"
    </script>
  <% end %>
<% else %>
  <script type="text/javascript">
    window.location.href="/"
  </script>
<% end %>
<div class="container">
  <div class="rowPhoto">
    <div class="col-sm-8">
      <div class="well well-lg">
        <h1> 
          Crear una nueva Foto
        </h1>
      </div>
    </div>
  </div>
</div>

<%= render 'form', photo: @photo %>

<div class="container">
  <div class="rowPhoto">
    <div class="col-sm-4">
      <br>
      <%= link_to 'Atras', album_path(params[:album_id], @album_photo) ,:class => 'btn btn-warning'%>
    </div>
  </div>
</div>

