// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.h520{
	height: 550px;
}

#cardPlace{
    padding-left: 0%;
    padding-right: 0%; 
}


#centerPlace_title{
  padding-left: 47%;
}